.menu{
    display: flex;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
}

.menu li{
    margin-right: 10px;
}

a:hover{
    color: red;
}

.menu :hover{
    background-color: aqua;
}